/* *{
    color: white;
} */
.hero{
    margin: 0px 100px;
    margin-top: 200px;
}
.hero-text{
    color: #FFF;
    font-size: 110px;
    font-weight: 500;
    line-height: 130px;
}
.hero-explore{
    display: flex;
    gap: 50px;
    align-items: center;
    width: fit-content;
    margin-top: 70px;
    padding: 5px 8px;
    padding-left:30px ;
    border-radius: 60px;
    background: white ;
    cursor: pointer;
    color: black !important;
}
.hero-explore p{
    color: #292929;
    font-size: 20px;
    font-weight: 200;
}
.hero-dots{
    list-style-type: none;
}
.hero-dot-play{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.hero-play img{
    width: 80px;
    height: auto;
}
.hero-play p{
    color: white;
}
.hero-play{
    margin-top:10px;
}
.hero-dots{
    display: flex;
    align-items: center; 
    gap: 23px;
    list-style: none;
}
.hero-dot{
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 7.5px;
    cursor: pointer;
}
.orange{
    background-color: orange !important;
}
.hero-play{
    display: flex;
    align-items: center;
    gap: 30px;
}
.hero-play p{
    color: #ffffff;
    font-size: 19px;
}
